.btn1, .btn2, .btn3, .btn{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(2, 44, 80);
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}
.menu button:hover, .menu button:focus{
    background-color: rgb(255, 140, 140);
    color: rgb(0, 0, 0);
}
.opt1 button, .opt2 button, .opt3 button, .opt0 button{
    width: 150px;
    padding: 10px;
    margin: 10px;
    left: 15px;
    background-color: rgb(2, 44, 80);
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 3px 0px black;

}
.opt1, .opt2, .opt3, .opt0{
    display: none;
    width: 200px; 
}
.area1 button, .area2 button, .area3 button{
    width: 100px;
    padding: 10px;
    margin: 3px;
    text-align: center;
    background-color: rgb(2, 44, 80);
    font-size: 10px;
    cursor: pointer;
    border: none;
    color: white;
    /* position: relative; */
    border-radius: 4px;
    overflow:hidden;
}

.area1 button:hover, .area1 button:focus{
    background-color: rgb(255, 140, 140);
    color: rgb(0, 0, 0);
}
.area2 button:hover, .area2 button:focus{
    background-color: rgb(255, 140, 140);
    color: rgb(0, 0, 0);
}
.area3 button:hover, .area3 button:focus{
    background-color: rgb(255, 140, 140);
    color: rgb(0, 0, 0);
}
.background{
    width: 200px;
    border-radius: 3px;
    margin-left: 10px;
    background-color: rgb(150, 168, 188);
}
.show{
    display: block;
}
.column1, .column2{
    display: inline-flex;
}
.area1, .area2, .area3{
    border: 2.5px solid rgb(0, 0, 0);
    margin-left: 30px;
    margin: 15px;
    width: 600px;
    height: 250px;
    display: block;
    
}
.textarea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.chosenarea{
    background-color: aliceblue;
}
.title1, .title2, .title3{
    font-size: 15px;
    background-color: rgb(37, 57, 146);
    color:white;
    width: 49px;
    height: 20px;
    padding: 5px;
    margin: 6px;
    text-align: center;
}
.header{
    margin-left: 25px;
}

.box {
    width: 200px;
    height: 250px;
    overflow: auto;
    /* border: 1px solid #000000; */
}

.textarea{
    display: inline-flex;
}

.calculate{
    font-size: 20px;
    width: auto;
    height: 40px;
    padding: 5px;
    margin-top: 4px;
    display: inline-flex;
    /* text-align: center; */
}
.maintitle{
    display: flex;
    width: 600;
}

.detail{
    width:60px;
}

.SearchBar{
    display: inline-flex;
    
    width: 200px;
}

.SearchBar input{
    margin: 5px;
    width: 110px;
    height: 34px;
}

.SearchBar button{
    width: 60px;
    margin: 5px;
    margin-left: -15px;
    padding-right: 55px;
}